/* Making the Button ********************************************************************/

#darkmode{
    position: absolute;
    bottom: 36px;
    left: 28px;
    background: #9e9e8e;
    border-radius: 100px;
    width: 48px;
    height: 16px;
    cursor: pointer;
    /* custom */
}

#switch{
    display: block;
    position: absolute;
    border-radius: 100px;
    padding: 4px;
    top: -6px;
    margin-left: -6px;
    font-size: 1.3em;
    color: #333;
}

.fa-sun{
    left: 0;
    background: #fff;
}

.fa-moon{
    left: 30px;
    background: rgb(112, 112, 94);
}

body.darkmode #darkmode{
    background:#1a1a1a;
}

/* Page Elements ********************************************************************/

body.darkmode{
    background: #2a2a2a;
    color: rgba(158, 158, 134, 0.87);
}

body.darkmode nav{
    background: #333;
    color: rgb(158, 158, 134);
}

body.darkmode #subnav div a{
    background: rgba(75, 75, 66, 0.8);
}

body.darkmode .cards article{
  border: 3px solid #747464;
}

body.darkmode #shrink, body.darkmode #shrink span{
    background:rgb(30, 30, 30);
}

body.darkmode #shrink span p{
    color: #505041;
}

/* Typography ********************************************************************/

body.darkmode h1, body.darkmode h2, body.darkmode h3{
    color: rgb(207, 207, 191);
}

body.darkmode h2{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

body.darkmode nav a{
    color: rgb(139, 139, 116);
}

body.darkmode nav a:hover{
    background:rgb(75, 75, 66);
}

body.darkmode a{
    color: rgb(206, 178, 85);
}

body.darkmode #key:hover{
    background:rgb(75, 75, 66);
}

body.darkmode .recommended, body.darkmode .recommended a{
    background: rgb(65, 129, 129);
    color: #eee;
}

body.darkmode .unfamiliar, body.darkmode .unfamiliar a{
    background: rgb(92, 75, 81);
    color: #eee;
}

body.darkmode .notrecommended, body.darkmode .notrecommended a{
   background: #b36b0d;
   color: #eee;
}

body.darkmode .currentPage, body.darkmode .currentPage:hover{
    background:rgb(87, 87, 77);
    color:#c9c9b9;
}

body.darkmode em{
    color:rgb(190, 190, 175);
}

body.darkmode ::selection{
    background:#c8ae1e;
    color: #e6e6d8;
}

/* Extras ********************************************************************/

body.darkmode #ethicli a{
    background:rgb(87, 87, 77);
    color: #c9c9b9;
}

body.darkmode a#googledoc, body.darkmode a#coffee{
    background:rgb(87, 87, 77);
    color: #bdbdac;
}

body.darkmode a#googledoc:hover, body.darkmode a#coffee:hover{
    opacity: 1;
    background:rgb(131, 131, 119);
    color: #eee;
}

body.darkmode a#coffee span{
    color: #bdbdac;
}

body.darkmode a#coffee:hover span{
    color: #eee;
}

body.darkmode #ethicli h3{
    color: rgb(131, 197, 99);
}

body.darkmode #ethicli h3:hover{
    color: #c8ae1e;
}

body.darkmode #coffee{
    opacity: 1;
    background:rgb(87, 87, 77);
}

/* Queries ********************************************************************/

@media only screen and (max-width: 880px) {
    body.darkmode #keymoji, body.darkmode #key div{
        background:rgb(75, 75, 66);
    }
}

@media only screen and (max-width: 600px) {
    #darkmode{
        display: block;
        top: 42px;
        left: 100%;
        margin-left:-80px;
    }

    body.darkmode #sandwich{
        display: block;
        background: rgb(105, 105, 95);
    }
}
