html {
  scroll-behavior: smooth;
  background: #555;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  background: #eee;
  color: #444;
  font-family: 'Assistant', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

#page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 40px;
  margin-left: 270px;
}

#page.shrinkNav{
  margin-left: 48px;
}

section{
  margin-bottom: 40px;
}

section article:last-child{
  margin-right: 0;
}

#pageTransition{
  display:block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #333;
  opacity: 1;
  z-index: 100;
  -webkit-transition:all 10ms cubic-bezier(0.515, 0, 0.425, 1);
  -webkit-transition:all 10ms cubic-bezier(0.515, -0.005, 0.425, 1.020);
  -moz-transition:all 10ms cubic-bezier(0.515, -0.005, 0.425, 1.020);
  -o-transition:all 10ms cubic-bezier(0.515, -0.005, 0.425, 1.020);
  transition:all 10ms cubic-bezier(0.515, -0.005, 0.425, 1.020);
  -webkit-transition-timing-function:cubic-bezier(0.515, 0, 0.425, 1);
  -webkit-transition-timing-function:cubic-bezier(0.515, -0.005, 0.425, 1.020);
  -moz-transition-timing-function:cubic-bezier(0.515, -0.005, 0.425, 1.020);
  -o-transition-timing-function:cubic-bezier(0.515, -0.005, 0.425, 1.020);
  transition-timing-function:cubic-bezier(0.515, -0.005, 0.425, 1.020);
}

/* Landing Page ********************************************************************/

.endsWithCards{
  margin-bottom: 24px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.cards article{
  max-width: 260px;
  min-width: 220px;
  padding: 16px;
  border-radius: 8px;
  border: 3px solid rgb(219, 219, 206);
  margin: 0 30px 30px 0;
}

#home .cards article{
  max-width: 320px;
}

#googledoc{
  display: block;
  margin-top:16px;
  padding:10px;
  width: 200px;
  border-radius: 100px;
  background:rgb(201, 201, 186);
  text-align: center;
  font-weight: 400px;
  color: #333;
}

#googledoc:hover{
  opacity: 0.75;
}

/* Key ********************************************************************/

#key{
  position: fixed;
  top: 48px;
  right: 28px;
  padding: 8px 12px 4px 12px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0);
}

#key:hover{
  background: rgb(255, 255, 255);
}

#key h2{
  margin-top: 0;
  margin-bottom: 12px;
}

#key p{
  font-size: 0.85em;
  font-weight: bold;
  margin-bottom: 8px;
  padding-left: 0em;
  text-indent: 0em;
  padding: 0 2px;
}

#keymoji{
  display: none;
}

.recommended, .recommended a{
  background: rgb(140, 209, 170);
  color: #fff;
  padding: 0 2px;
 }
 
 .unfamiliar, .unfamiliar a{
  background: rgb(163, 181, 240);
  color: #fff;
  padding: 0 2px;
 }
 
 .notrecommended, .notrecommended a{
   background: #e9bc7a;
   color: #fff;
   padding: 0 2px;
 }

/** Navigation ****************************************************************/

nav{
  display: flex;
  flex-direction: column;
  background: rgb(226, 226, 216);
  width: 230px;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 1;
}

nav.shrinkNav{
  left: -222px;
}

nav a{
  display: block;
  margin: 4px 30px 8px 16px;
  padding: 4px 8px;
  border-radius: 8px;
  color: #333;
}

nav a:hover{
  background:rgb(201, 201, 186);
  opacity: 1;
}

nav ul{
  margin-top: 54px;
}

#shrink{
  position: absolute;
  right: 0;
  height: 100%;
  width: 8px;
  background: rgb(219, 219, 206);
  color: #fff;
  border: 0px;
  outline: 0;
  font-size: 0.8em;
  padding-right: 4px;
}

#shrink span{
  position: 0;
  top: 0;
  left: 0;
  display: fixed;
  text-align: center;
  padding: 8px 16px 6px 8px;
  border-radius: 0 100px 100px 0;
  background: rgb(219, 219, 206);
  cursor: pointer;
}

#shrink span p{
  color: rgb(172, 172, 154);
  font-weight: bold;
  font-size: 1.2em;
  line-height: 0em;
  text-indent: 0;
  padding-left: 0;
  display:inline-block;
  -webkit-transform:scale(1,1.5); /* Safari and Chrome */
  -moz-transform:scale(1,1.5); /* Firefox */
  -ms-transform:scale(1,1.5); /* IE 9 */
  -o-transform:scale(1,1.5); /* Opera */
  transform:scale(1,1.5); /* W3C */
}

#shrink span p.switchDirection{
  -webkit-transform:scale(1,1.5); /* Safari and Chrome */
  -moz-transform:scale(1,1.5); /* Firefox */
  -ms-transform:scale(1,1.5); /* IE 9 */
  -o-transform:scale(1,1.5); /* Opera */
  transform:scale(1,1.5) scaleX(-1); /* W3C */
}

#sandwich{
  position: fixed;
  display: none;
  top: 30px;
  left: 30px;
  border-radius: 8px;
  width: 40px;
  padding: 8px;
  z-index: 2;
}

#sandwich:hover{
  background: #fff;
}

#pageTitleNav{
  display:none;
  position: absolute;
  top: 40px;
  left: 85px;
  font-size: 1.4em;
  font-weight: bold;
  z-index: 1;
}

/** Subnav ********************************************************************/

#subnav{
  margin-top: 14px;
  margin-bottom: 16px;
}

#subnav.withkey{
  margin-right: 140px;
}

#subnav h2{
  font-size: 1em;
  display: none;
}

#subnav div a{
  display: inline-block;
  margin: 0 8px 16px 0;
  padding: 4px;
  border-radius: 6px;
  background: #fff;
}

/** Footer ********************************************************************/

footer{
  width: 100%;
  text-align: end;
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: center;
}

/** Typography ****************************************************************/

h3 .recommended, h3 .unfamiliar, h3 .notrecommended{
  padding: 2px 8px;
  border-radius: 8px;
}

h1{
  font-size: 3em;
  font-weight: 600;
  margin: 10px 0 40px 0;
}

h2{
  font-size: 1.4em;
  font-weight: 600;
  margin: 20px auto;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

h3{
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 10px;
  padding-bottom: 4px;
}

a{
  text-decoration: none;
  color: rgb(199, 174, 32);
  font-weight: 600;
}

a:hover{
  opacity: 0.6;
}

#home p{
  padding-left: 0em;
  text-indent: 0em;
}

footer p{
  margin-bottom: 0;
  color: #aaa;
}

p{
  padding-left: 1.5em;
  text-indent:-1.5em;
  margin-bottom: 0.25em;
}

.noIndent{
  padding-left:0em;
  text-indent:0em;
}

p, ul li{
  line-height: 1.5em;
}

#page ul li{
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 1.5em;
}

em{
  font-weight: bold;
}

.breakpoint{
  display: none;
}

.currentPage, .currentPage:hover{
  background: #FFF;
}

::selection{
  background: rgba(224, 205, 94, 0.699);
}

/** Ethicli *******************************************************************/

#ethicli{
  position: fixed;
  right: -320px;
  width: 400px;
}

#ethicli:hover{
  right: -10px;
}

#ethicli a{
  display: flex;
  align-items: center;
  font-weight: 400;
  color: #333;
  width: 350px;
  font-size: 0.8em;
  background:  rgb(219, 219, 206);
  padding: 16px;
  border-radius: 100px;
}

#ethicli a:hover{
  opacity: 1;
}

#ethicli h3{
  margin-bottom: 0px;
  color: rgb(101, 145, 80);
}

#ethicli h3:hover{
  margin-bottom: 0px;
  color: #c8ae1e;
}

#ethicli img{
  height: 50px;
  margin-right: 20px;
}

/* Coffee + Confetti ****************************************************************/

#coffee{
  width: 154px;
  margin-left: 10px;
  padding: 8px 12px;
  border-radius: 100px;
  background: #c9c9b9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#coffee img{
  height: 20px;
}

#coffee span{
  color: #333;
}

#confetti{
  cursor: pointer;
}

/* Queries ********************************************************************/

@media only screen and (max-width: 880px) {
  footer {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  #subnav.withkey{
    margin-right: 0px;
  }
  #coffee{
    margin-top: 20px;
  }
  #keymoji{
    display: block;
    position: fixed;
    font-size: 2em;
    background: #fff;
    right: 28px;
    top: 30px;
    padding: 8px;
    border-radius: 8px;
    z-index: 1;
  }
  #key div{
    position: fixed;
    background: #fff;
    width: 0;
    height: 0;
    overflow: hidden;
    top: 30px;
    right: 28px;
  }
  #key div.keyClicked{
    display: block;
    padding: 8px 12px;
    border-radius: 8px;
    width: 150px;
    height: 140px;
  }
  #ethicli{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 46px;
  }
  #ethicli a{
    padding: 8px;
    width: 46px;
  }
  #ethicli img{
    height: 30px;
  }
  #ethicli div{
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  .breakpoint{
    display: inline;
  }
}

@media only screen and (max-width: 600px) {
  #page {
    margin-left: 40px;
  }
  h1{
    margin-top: 60px;
  }
  #pageTitleNav{
    display: block;
  }
  #sandwich{
    display: block;
    background: #fff;
  }
  #shrink{
    display: none;
    bottom: 0;
    border-radius: 0 0 8px 8px;
  }
  nav{
    top: -100%;
    z-index: 1;
    width: 100%;
    height: auto;
    border-radius: 0 0 8px 8px;
  }
  nav.showNav{
    top: 0;
  }
  nav.shrinkNav{
    left: 0;
  }
  nav ul{
    position: relative;
    margin: 96px 16px 24px 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  nav ul li {
   width: 49.9%;
   margin: none;
   padding: 0;
   justify-content: start;
  }
  nav ul li a{
    margin-right: 16px;
  }
  .cards{
    flex-direction: column;
  }
  .cards article{
    min-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  body{
    max-width: 100vw;
  }
  nav ul li {
    width: 100%;
  }
}